 .board {
    align-items: center;
    width:500px;
}


img {
  border-radius: 50%;
  max-width: 50px;
}

.counter{
    border-radius: 50%;
    max-width: 50px;
    border: 2px solid black;
    filter: drop-shadow(0 4px 4px #000000);
    z-index: 5;
}

.square{
    background-color: #FFD195;
    border: 2px solid black;
    flex-direction: column;
  align-items: center;
  justify-content: center;
    width: 100px;
    height: 100px;
    float:left;
    display: flex;
}

.rest-square{
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background-image: url("./utils/restSquareImg.png");
    background-size: cover;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}
