.game-container {
    width:90vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top:-20px;
    padding:0;
}

.game-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board {
    align-items: center;
    width:500px;
}

.quit-button {
    border: none;
    background-color: white;
    color: #282c34;
    margin:10px;
    padding:10px;
    border-radius: 5px;
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 5rem;
    align-self: center;
  }